#details{
    background-color: white;
    margin-top: 0px;
    padding-top: 30px;
}

#username{
    /* font-family: 'Inika'; */
    font-size: 23px;
    font-weight: 600;
    color: #61AEF5;
    margin-bottom: 0px;
}

#descr{
    margin-top: 0px;
    opacity: 70%;
}

.settings{
   margin: 0 auto;
}

img{
    padding: 10px;
}


